name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    # cmake part
    # - name: Conf cmake
    #   run: cmake -S cxx -B build -DCMAKE_BUILD_TYPE=Debug
    # - name: Build CMake
    #   run: cmake --build build --config Debug

    # rust part
    - name: Build Rust
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
